.darker-warning {
    background-color: #E6B800; 
    color: #000000; 
}

.border-darker-warning {
    background-color: #E6B800; 
    color: #000000;
}

.text-darker-warning {
    color: #E6B800;
}

.borderoustide-darker-warning {
    border: 2px solid #E6B800;
}
.border-darker-warning-rtl {
    border-inline-start: 4px solid #E6B800;
}

#hvr-darker-warning:hover {
    background-color: #D4AF37 !important;
    color: #000 !important;
    transition: 0.3s ease;
}
h2 {
  color:  #D4AF37 ;
  text-shadow: 2px 2px 4px #000000;
}
